[D-BUS Service]
Name=org.freedesktop.Notifications
Exec=/usr/lib/qubes/qubes-domu-dbus-notification-daemon
SystemdService=qubes-tray-notification.service
