[Unit]
Description=Qubes notifications service

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/lib/qubes/qubes-domu-dbus-notification-daemon

